﻿@model IEnumerable<WebApp.Models.Personnes.PersonneViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateNaissance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.equipeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pseudonyme)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateNaissance.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.equipeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pseudonyme)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Modifier", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
            }
            
            @Html.ActionLink("Détails", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Supprimer", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            }
        </td>
    </tr>
}
</table>
