﻿@model WebApp.Models.Personnes.Equipes.CreateEditEquipeViewModel

@{
    if (Model.Id == 0)
    {
        ViewBag.Title = "Ajouter";
    }
    else
    {
        ViewBag.Title = "Modifier";
    }

}

@if (Model.Id == 0)
{
    <h2>Ajouter</h2>
}
else
{
    <h2>Modifier</h2>
}


@using (Html.BeginForm("CreateEdit","Equipes"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Equipe</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CoachId)
        <div class="form-group">
            @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.joueursSelect, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.joueursSelect, Model.joueursDispo)
                @Html.ValidationMessageFor(model => model.joueursSelect, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sauvegarder" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retourner à la liste d'équipe", "Index", null, new { @class = "btn btn-default" })
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
jQuery(document).ready(function(){
    $('select').multipleSelect({
        filter: true,
        width: 280,
    });
});
</script>
}
