﻿@model WebApp.Models.Equipes.EquipeViewModel

@{
    ViewBag.Title = "Détails";
}

<h2>Détails</h2>

<div>
    <h4>Equipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.personnes)
        </dt>

        <dd>
            @string.Join(", ", Model.personnes.Select(s => s.Pseudonyme))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Retourner à la liste d'équipe", "Index", null, new { @class = "btn btn-default" })
</p>
