﻿@model IEnumerable<WebApp.Models.Equipes.EquipeViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
   @if (User.IsInRole("Admin, Entraineur"))
   { @Html.ActionLink("Ajouter une nouvelle équipe", "Create", null, new { @class = "btn btn-default" })}
    @Html.ActionLink("Liste des Joueurs", "Index", "Personnes", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.personnes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Point)
        </td>
        <td>
           @string.Join(", ", item.personnes.Select(s => s.Pseudonyme));
        </td>
        <td>
           @if (User.IsInRole("Admin"))
           { @Html.ActionLink("Modifier", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) }
            @Html.ActionLink("Détails", "Details", new { id = item.Id }, new { @class = "btn btn-primary" }) 
           @if (User.IsInRole("Admin"))
           { @Html.ActionLink("Supprimer", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })}
        </td>
    </tr>
}

</table>

