﻿@model IEnumerable<WebApp.Models.Tournois.TournoiJeuVideoViewModel>
@{
    ViewBag.Title = "Home Page";
}

<br>
<center>
    <img style="width:500px" class=""
         src="~/Content/Image/Scottish_Championship.png"
         alt="Scottich Championship" />
</center>
<br />
<hr />
<h2> Liste des trounois en cours</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CashPrize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreEquipeMax)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (DateTime.Compare(item.Date, DateTime.Now) < 0
            && DateTime.Compare(item.Date, DateTime.Now) < 8.64e+13)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Libelle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashPrize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEquipeMax)
                </td>
                <td>
                    @Html.ActionLink("Aller au tournoi", "../Tournois/Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    }
</table>

<br />
<hr />
<h2> Liste des trounois à venir</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CashPrize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreEquipeMax)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (DateTime.Compare(item.Date, DateTime.Now) > 0
            && DateTime.Compare(item.Date, DateTime.Now) < 2.628e+15)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Libelle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashPrize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEquipeMax)
                </td>
                <td>
                    @Html.ActionLink("Aller au tournoi", "../Tournois/Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    }
</table>