﻿@model WebApp.Models.CreateEditJeuVideo

@{
    if(Model.Id == 0)
    {
        ViewBag.Title = "Ajouter";
    }
    else
    {
        ViewBag.Title = "Modifier";
    }

}

@if (Model.Id == 0)
{
    <h2>Ajouter</h2>
}
else
{
    <h2>Modifier</h2>
}



@using (Html.BeginForm("CreateEdit", "JeuVideo"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Jeux Vidéo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
            </div>
            <br><br>
            @Html.LabelFor(model => model.AgeLimite, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AgeLimite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AgeLimite, "", new { @class = "text-danger" })
            </div>
            <br><br>
            @Html.LabelFor(model => model.Supports, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.SupportSelected, Model.Supports, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SupportSelected, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enregistrer" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retourner à la liste de Jeux Vidéo", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
