﻿@model WebApp.Models.JeuVideoViewModel

@{
    ViewBag.Title = "Supprimer";
}

<h2>Supprimer</h2>

<h3>Voulez-vous supprimer cette élément?</h3>
<div>
    <h4>Jeux Vidéo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeLimite)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => Model.AgeLimite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supports)
        </dt>
        <dd>
            @string.Join(", ", Model.Supports.Select(i => i.libelle))
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            @Html.ActionLink("Retourner à la liste de Jeux Vidéo", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
