﻿@model WebApp.Models.JeuVideoViewModel

@{
    ViewBag.Title = "Détails";
}

<h2>Détails</h2>

<div>
    <h4>Jeux Vidéo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeLimite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeLimite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supports)
        </dt>

        <dd>
            @string.Join(", ", Model.Supports.Select(s => s.libelle))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Retourner à la liste de Jeux Vidéo", "Index", null, new { @class = "btn btn-default" })
</p>
