﻿@model IEnumerable<WebApp.Models.JeuVideoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Admin"))
    {@Html.ActionLink("Ajouter un nouveau jeux vidéo", "Create", null, new { @class = "btn btn-default" })} 
    @Html.ActionLink("Liste des Support", "Index", "Supports", null, new { @class = "btn btn-default" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeLimite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supports)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeLimite)
        </td>
        <td>
            @string.Join(", ", item.Supports.Select(i => i.libelle))
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {@Html.ActionLink("Modifier", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })}
            @Html.ActionLink("Détails", "Details", new { id = item.Id }, new { @class = "btn btn-primary" }) 
           @if (User.IsInRole("Admin"))
           { @Html.ActionLink("Supprimer", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })}
        </td>
    </tr>
    }

</table>
