﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scottich Championship</title>
    <link rel="icon" type="image/png" href="~/Content/Image/SC_Logo.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'>
                    <img style="max-height : 50px" src="~/Content/Image/SPFL.png" />
                </a>
            </div>
            <div class="navbar-collapse collapse fixed-top">
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes" aria-expanded="false"> Jeux - Supports <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="themes">
                            @Html.ActionLink("Liste des Jeux", "Index", "JeuVideo")<br />
                            @Html.ActionLink("Liste des Supports", "Index", "Supports")
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes" aria-expanded="false"> User <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="themes">
                            @Html.ActionLink("Liste des Equipes", "Index", "Equipes")
                            <br />
                            @Html.ActionLink("Liste des Personnes", "Index", "Personnes")
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes" aria-expanded="false"> Tournois <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="themes">
                            @Html.ActionLink("Liste des Tournois", "Index", "Tournois")
                            <br />
                            @Html.ActionLink("Inscription", "Index", "AddEquipeAuTournoi")
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Scottish Championship Association</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/multiple-select")
    @RenderSection("scripts", required: false)
</body>
</html>
