﻿@model WebApp.Models.Personnes.Equipes.AddEquipeToTournoiViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AddEquipeToTournoi</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { disabled="", @class = "form-control" } })
            </div>
            @Html.LabelFor(model => model.tournoiDispos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.ListBoxFor(model => model.tournoiId, Model.tournoiDispos)
                @Html.ValidationMessageFor(model => model.tournoiId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Inscription" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
jQuery(document).ready(function(){
    $('select').multipleSelect({
        filter: true,
        width: 280,
    });
});
</script>
}
