﻿@model WebApp.Models.Tournois.MatchViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>EditViewPersonne</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">

            <div style="text-align:center" class="col-md-5">
               <!-- @Html.LabelFor(model => model.Equipes[0].Nom, htmlAttributes: new { @class = "control-label col-md-2" })-->
               @Model.Equipes[0].Nom
            </div>
            <div style="text-align:center" class="col-md-5">
               <!-- @Html.LabelFor(model => model.Equipes[1].Nom, htmlAttributes: new { @class = "control-label col-md-2" })-->
                @Model.Equipes[1].Nom
            </div>
        </div>

        <div class="form-group">
            <div  class="col-md-5">
                @Html.RadioButton("unString", Model.Equipes[0].Id, Model.NomEquipeGagnante == Model.Equipes[0].Nom, new { @style = "margin:auto;display:block" })   
                @Html.ValidationMessageFor(model => model.Equipes[0].Id, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-5">
                @Html.RadioButton("unString", Model.Equipes[1].Id, Model.NomEquipeGagnante == Model.Equipes[1].Nom, new { @style = "margin:auto;display:block" }) 

                @Html.ValidationMessageFor(model => model.Equipes[1].Nom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomEquipeGagnante, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomEquipeGagnante, new { htmlAttributes = new { disabled="", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomEquipeGagnante, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sauvegarder" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retourner à la liste des Matchs", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

