﻿@model IEnumerable<WebApp.Models.Tournois.MatchViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Equipes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomEquipeGagnante)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @string.Join(", ", item.Equipes.Select(e=>e.Nom))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomEquipeGagnante)
        </td>
        <td>
            @Html.ActionLink("Détails", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
