﻿@model WebApp.Models.Tournois.TournoiJeuVideoViewModel

@{
    ViewBag.Title = "Supprimer";
}

<h2>Supprimer</h2>

<h3>Voulez-vous supprimer cette élément?</h3>
<div>
    <h4>Tournoi de Jeux Video</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashPrize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashPrize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reglement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reglement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreEquipeMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEquipeMax)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            @Html.ActionLink("Retourner à la liste de Tournois de Jeux Vidéo", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
