﻿@model WebApp.Models.Tournois.TournoiJeuVideoViewModel

@{
    ViewBag.Title = "Détails";
}

<h2>Détails</h2>

<div>
    <h4>Tournoi Jeu Video</h4>
    
    <p>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) 
            
        }
        @Html.ActionLink("Retourner à la liste de Tournois de Jeux Vidéo", "Index", null, new { @class = "btn btn-default" })
    </p>
    <hr /> 
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashPrize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashPrize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreEquipeMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEquipeMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipeGagnante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipeGagnante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reglement)
        </dt>

        <dd>
            @Html.Raw(Model.Reglement.Replace("\r\n", "<br>"))
        </dd>
        <br>
        <h3>Liste des équipes inscrites</h3>
        <br>
        @Html.ActionLink("Voir la liste des Matchs", "../Matchs/Index", new { id = Model.Id }, new { @class = "btn btn-default" })
        <br>
        <br>
        <table class="table">
            <tr>
                <th>
                    Nom
                </th>
                <th>
                    Points
                </th>
                <th>
                    Personnes
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in Model.equipes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Point)
                    </td>
                    <td>
                        @string.Join(", ", item.personnes.Select(s => s.Pseudonyme));
                    </td>
                    <td>
                        @Html.ActionLink("Détail équipe", "../Equipes/Details", new { id = item.Id }, new { @class = "btn btn-default" })
                    </td>
                </tr>
            }

        </table>
    </dl>
</div>

