﻿@model IEnumerable<WebApp.Models.Tournois.TournoiJeuVideoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Ajouter un nouveau tournoi de jeux vidéo", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CashPrize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreEquipeMax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipeGagnante)
        </th>
        @if (User.IsInRole("Admin"))
        {
        <th></th>}
        <th></th>
        @if (User.IsInRole("Admin"))
            {
        <th></th>}
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashPrize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEquipeMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipeGagnante)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                </td>
            }
            <td>
                @Html.ActionLink("Détails", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            }
        </tr>
    }


</table>
